{% extends "layout.html" %}
{% block body %}
  <h1>Report IDs</h1>

  {% if 'username' in session: %}
	<table cellpadding="7" border="2">
	<tr><td>ID</td><td>Name</td><td>Photo</td></tr>
	  {% for key,value in encodings_core_dict.items() %}
	    <tr><td>{{key}}</td><td>{{value[0]}}</td><td><img src="{{value[1]}}" ></td></tr>
	  {% endfor %}

	<!--<tr><td>ID</td><td>Name</td></tr>
	<tr><td>...</td><td>...</td></tr>
	-->
	</table>
	<p>{{tmp_val}}</p>
  {% else %}
  	<p>No access. Do you want to <a href="{{ url_for('login') }}">log in?</a></p>
  {% endif %}
{% endblock %}
